body {
padding: 0;
margin: 0;
background: #f7f7f7;
}

header {
  background-image: src(“IMG_8765.jpg”);
  height: 400px;
  background-position: center center;
}

tag {
  color: #E4BB97;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  font-style: bold;
  text-align: left;
}

tag2 {
  color: #E4BB97;
  font-family: 'Crimson Text', serif;
  font-size: 18px;
  font-style: italic;
  text-align: left;
}

#header-text {
  color: #41292C;
  font-family: 'Crimson Text', sans serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

p {
  color: #E4BB97;
  font-family: 'Crimson Text', serif;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  margin: 100px 0px;
  padding-bottom: 20px;
}

h1 {
  color: #E4BB97;
  font-family: 'Crimson Text', serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  margin: 100px 0px;
  padding-bottom: 60px;
}

h2 {
  color: #E4BB97;
  font-family: 'Crimson Text', serif;
  font-size: 28px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  margin: 100px 0px;
  padding-bottom: 60px;
}

img {
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
